body {
    display: flex;
    background-color: #d7d7d7;
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#weatherCard {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

footer {
    text-align: center;
    
}

option  {
    text-align: center;
}

select {
    text-align: center;
}

