body {
    display: flex;
    background-color: #d7d7d7;
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#weatherCard {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

footer {
    text-align: center;
    
}

option  {
    text-align: center;
}

select {
    text-align: center;
}


@media screen and (min-width: 1400px), screen and (orientation: portrait){
    #weatherCard >  div > .card-body > h5{
       font-size: 1.2rem;
    }
 }


@media screen and (max-width: 1200px), screen and (orientation: portrait){
    #weatherCard >  div > .card-body > h5{
        font-size: 1em;
    }

    #weatherCard {
       width: 100%;
       font-size: 1em;
    }

    #weatherCard > div > .card-img {
        width: 100%;
    }
 }
 
 @media screen and (max-width: 600px), screen and (orientation: portrait){
    
    #weatherCard >  div > .card-body > h5{
        font-size: 1.5em;
    }

    #weatherCard {
       width: 100%;
       font-size: 1.5rem;
    }

    #weatherCard > div > .card-img {
        width: 75%;
        display: block;
        margin: auto;
    }
 }